{% from "summary-list/macro.njk" import summaryList %}

{% macro release_note(note, teaser=true) %}
  <article>
    <h2 class="nhsuk-u-margin-bottom-0">
      {% if teaser %}<a href="{{ note.url | url }}">{% endif %}
        {{ note.data.title }}
      {% if teaser %}</a>{% endif %}
    </h2>

    {% set date %}
      <time datetime="{{ note.data.date.toUTCString() }}">{{ note.data.date.toLocaleString() }}</time>
    {% endset %}

    {% set contact %}
      <a href="mailto:{{ note.data.contact }}">{{ note.data.contact }}</a>
    {% endset %}

    {{ summaryList({
      rows: [
        {
          key: {
            text: "Date"
          },
          value: {
            html: date
          }
        },
        {
          key: {
            text: "Change number"
          },
          value: {
            text: note.data.change
          }
        },
        {
          key: {
            text: "Lead product manager"
          },
          value: {
            text: note.data.product_manager
          }
        },
        {
          key: {
            text: "Contact for more information"
          },
          value: {
            html: contact
          }
        }

      ]
    }) }}

    {% if not teaser %}
      {{ node.content }}
    {% endif %}
  </article>
{% endmacro %}
