---
layout: paginated-listing
title: Patient encounter history show and tells
sections:
  - youtube_id: mNmvWPSaSDE
    heading: 25th February 2022
    content:
      - Introducing new team members
      - First draft of encounter api specifiction
      - DHU visit feedback
      - Prototype feedback
      - Working in the open, publishing the dioscovery report
  - youtube_id: 1YCWtLr-Cfo
    heading: 28th January 2022
    content:
      - Clinical Flags
      - Prototype refinement
      - Proof of concept progress
  - youtube_id: QnWrZH5tInk
    heading: 14th January 2022
    content:
      - Persona updates
      - Prototype updates
      - User journey feedback
      - OneSouthWest feedback
      - Non functional requirements
  - youtube_id: ilVkyXGvrBQ
    heading: 17th December 2021
    content:
      - Focus on the architectural options we are considering
  - youtube_id: 5Z2oa6Hqz6w
    heading: 19th November 2021
    content:
      - First iteration user journeys and feedback
      - Research with shared care record teams; Share2Care; Connecting Care Record; Great North Care Record; Shared care record forum
      - Discussions with other teams; PODAC, NHS X; NHS Account team; PRSB Standards team
      - Changes in other areas with potential to affect PEH

  - youtube_id: s2Ae7tnYyq4
    heading: 5th November 2021
    content:
      - Non-clinical personas​
      - Wireframe iteration​
      - Research with​ One London Shared Care Record​; BARs team about Referral registry​; CPCS​
      - Governance changes​
      - Supplier update
  - youtube_id: 8ZDnJfPl-n8
    heading: 22nd October 2021
    content:
      - WIP clinical personas​
      - Initial wireframe thinking​
      - Review of the core information standard​
      - Research with Primary Care GP and IG lead; Shared Care record Project Manager​; London ambulance service
  - youtube_id: 2RondTUsdlQ
    heading: 8th October 2021
    content:
      - Research with SiDER; NHS England, North West, National Shared Care Record Team; Greater Manchester Shared Care Record
      - UR Support for Post Event Messaging Team
      - Breaking down needs by role
      - Basic wireframing session output
      - Refined alpha goals
  - youtube_id: HlP6dOLnWHo
    heading: 24th September 2021
    content:
      - Recommendations for alpha
      - Mapping our riskiest assumptions for alpha
      - Trying to understand the wider care landscape
  - youtube_id: 4o0ApL1ofzg
    heading: 3rd September 2021
    content:
      - End of Discovery
      - What happens next
  - youtube_id: QXj-jjh89Hs
    heading: 20th August 2021
    content:
      - Discovery Insights
      - Alpha Challenges
      - How do we approach Alpha?
      - Options
      - What's next?
  - youtube_id: GFKAwdIg8OY
    heading: 13th August 2021
    content:
      - Research with 12 clinical roles and 12 patients
      - Interoperability workshop
      - Risks and Issues
  - youtube_id: d9jMcxCj6mU
    heading: 30th July 2021
    content:
      - Research with 5 clinicians, 4 patients, and 5 NHS Digital teams
      - Alpha timescales
  - youtube_id: 7lKiVFbi2Q8
    heading: 23rd July 2021
    content:
      - Discovery Hypotheses
      - Plan for Discovery
      - Research with 6 clinicians
      - What we currently know
      - What we don't know
  - youtube_id: MWhp0dD9qCw
    heading: 25th June 2021
    content:
      - Challenges
      - Research with 2 clinicians
      - Initial assumption refinement
  - youtube_id: qfzUTT_eIqk
    heading: 18th June 2021
    content:
      - Research with NHS 24 (Scotland 111)
      - Current technical landscape
      - Stakeholder Analysis
      - Challenges
      - Plan for Discovery
pagination:
  data: sections
  reverse: false
  size: 5
---
