---
---

{% extends "./nhsuk-frontend.njk" %}

{% set baseUrl = '/nhs111-resources' %}

{% from 'header/macro.njk' import header %}
{% from 'footer/macro.njk' import footer %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'hero/macro.njk' import hero %}
{% from 'warning-callout/macro.njk' import warningCallout %}

{% block header %}
  {{ skipLink({
    "href": "#maincontent",
    "text": "Skip to main content"
  }) }}

  {{ header({
    "organisation": {
      "name": "NHS Digital"
    }    
  }) }}

  {{ hero({
    "heading": "111 online resources",
    "text": "Documentation, tools and resources for 111 online"
    }) }}
{% endblock %}

{% block body %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">     
      <h1>{{ title }}</h1>

      {{ warningCallout({
        "heading": "Important",        
        "HTML": "<p>If you are looking for medical help please visit <a href=\"https://111.nhs.uk/\">111.nhs.uk</a></p>"
      }) }}     

      {% block content %}{{ content | safe }}{% endblock %}
    </main>
  </div>    
{% endblock %}

{% block footer %}{{ footer() }}{% endblock %}