---
---

{% extends "./nhsuk-frontend.njk" %}

{% set baseUrl = '/nhs111-resources' %}

{% from '_includes/header.njk' import header %}
{% from 'footer/macro.njk' import footer %}
{% from 'skip-link/macro.njk' import skipLink %}
{% from 'hero/macro.njk' import hero %}
{% from 'warning-callout/macro.njk' import warningCallout %}

{% block header %}
  {{ skipLink({
    "href": "#maincontent",
    "text": "Skip to main content"
  }) }}

  {{ header({
    "homeHref": "/" | url,
    "ariaLabel": "111 online resources homepage",
    "classes": "nhsuk-header--white"
  }) }}


  {% if page.url == '/' %}
    {% set heroTitleElement = 'h1' %}
  {% else %}
    {% set heroTitleElement = 'p' %}
  {% endif %}

  <section class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-hero__wrapper">
            <{{ heroTitleElement }} class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">111 online resources</{{ heroTitleElement }}>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Documentation, tools and resources for 111 online</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block body %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
      {{ warningCallout({
        "heading": "Important",
        "HTML": "<p>If you are looking for medical help please visit <a href=\"https://111.nhs.uk/\">111.nhs.uk</a></p>"
      }) }}

      {% if page.url != '/' %}
        <h1>{{ title }}</h1>
      {% endif %}

      {% block content %}{{ content | safe }}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block footer %}{{ footer() }}{% endblock %}
