---
---

{% extends "./nhsuk-frontend.njk" %}

{% set baseUrl = '/nhs111-resources' %}

{% from 'header/macro.njk' import header %}
{% from 'footer/macro.njk' import footer %}
{% from 'skip-link/macro.njk' import skipLink %}

{% block header %}
  {{ skipLink({
    "href": "#maincontent",
    "text": "Skip to main content"
  }) }}

  {{ header({
    "service": {
      "name": "111 online resources"
    },
    "showNav": "true",
    "primaryLinks": [
      {
        "url"  : "https://111.nhs.uk",
        "label" : "Go to 111 online"
      }
    ]
  }) }}
{% endblock %}

{% block body %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">     
      {{ content | safe }}
    </main>
  </div>    
{% endblock %}

{% block footer %}{{ footer() }}{% endblock %}