{% extends "./default.njk" %}
{% from 'button/macro.njk' import button %}

{% block content %}
    {{ super() }}

    {% set pager %}
    <nav class="pager" role="navigation" aria-label="Pagination">
      <div class="pager__controls">

        {% if pagination.href.previous %}
          <a class="pager__prev" href="{{ pagination.href.previous | url }}" rel="prev">Prev</a>
        {% endif %}

        <ul class="pager__items">
          {%- for pageEntry in pagination.pages %}
            {% if page.url == pagination.hrefs[ loop.index0 ] %}
              {% set current = true %}
            {% else %}
              {% set current = false %}
            {% endif %}

            <li{% if current %} aria-current="page"{% endif %}>
              {% if not current %}<a href="{{ pagination.hrefs[ loop.index0 ] | url }}">{% endif %}
                {{- loop.index -}}
              {% if not current %}</a>{% endif %}
            </li>
          {% endfor %}
        </ul>

        {% if pagination.href.next %}
          <a class="pager__next" href="{{ pagination.href.next | url }}" rel="next">Next</a>
        {% endif %}
      </div>
    </nav>
  {% endset %}

  {{ pager | safe }}

    {% for section in pagination.items -%}
        {% if loop.first == false %}
            <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible nhsuk-u-margin-top-0">
        {% endif %}

        <div class="nhsuk-grid-row">

            {% if section.youtube_id %}

                <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-6">
                    <div class="video video--16-9">
                        <div class="video__content" id="player" data-youtube-id="{{ section.youtube_id }}" data-youtube-title="{{ section.heading }}"></div>
                    </div>
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <h2>{{section.heading}}</h2>

                    {% if section.content %}
                        {% if section.content | isArray %}
                            <ul class="list list-bullet">
                                {% for description in section.content %}
                                    <li>{{ description }}
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{- section.content | safe -}}
                        {% endif %}
                    {% endif %}

                    {{- button({
                        "href": "https://youtu.be/" + section.youtube_id ,
                        "text": "View on YouTube",
                        "classes": "nhsuk-button--secondary"
                    }) -}}
                </div>

            {% else %}

                <div class="nhsuk-grid-column-one-half nhsuk-u-margin-bottom-6">
                    <img src="{{ section.resource.image | url }}" alt="">
                </div>
                <div class="nhsuk-grid-column-one-half">
                    <h2>{{section.heading}}</h2>

                    {% if section.updated %}
                        <p class="nhsuk-u-margin-bottom-0">Updated: {{ section.updated }}</p>
                    {% endif %}

                    {% if section.updated %}
                        <p>Version: {{ section.version }}</p>
                    {% endif %}

                    {{- section.content | safe -}}

                    {{- button({
                        "href": section.resource.link.href | url,
                        "text": section.resource.link.text,
                        "classes": "nhsuk-button--secondary"
                    }) -}}
                </div>

            {% endif %}
        </div>

    {%- endfor -%}

    {{ pager | safe }}
{% endblock %}
