{% extends "./default.njk" %}
{% from 'button/macro.njk' import button %}
{% from '_includes/product-update.njk' import product_update %}

{% block content %}
  {{ product_update({
    data: {
      contact: contact,
      date: date,
      product_manager: product_manager,
      change: change
    }
  }) }}

  {{ content | safe }}

{% endblock %}
