{% extends "./default.njk" %}
{% from 'button/macro.njk' import button %}
{% from '_includes/product-update.njk' import product_update %}

{% block content %}
  {{ super() }}

  {% set pager %}
    <nav class="pager" role="navigation" aria-label="Pagination">
      <div class="pager__controls">

        {% if pagination.href.previous %}
          <a class="pager__prev" href="{{ pagination.href.previous | url }}" rel="prev">Prev</a>
        {% endif %}

        <ul class="pager__items">
          {%- for pageEntry in pagination.pages %}
            {% if page.url == pagination.hrefs[ loop.index0 ] %}
              {% set current = true %}
            {% else %}
              {% set current = false %}
            {% endif %}

            <li{% if current %} aria-current="page"{% endif %}>
              {% if not current %}<a href="{{ pagination.hrefs[ loop.index0 ] | url }}">{% endif %}
                {{- loop.index -}}
              {% if not current %}</a>{% endif %}
            </li>
          {% endfor %}
        </ul>

        {% if pagination.href.next %}
          <a class="pager__next" href="{{ pagination.href.next | url }}" rel="next">Next</a>
        {% endif %}
      </div>
    </nav>
  {% endset %}

  {{ pager | safe }}

  <ol class="nhsuk-list">
    {% for item in pagination.items -%}
      <li class="nhsuk-u-padding-bottom-9">
        {{ product_update(item) }}

        {# <div class="nhsuk-section-break nhsuk-section-break--xl nhsuk-section-break--visible"></div> #}
      </li>
    {% endfor %}
  </ol>

  {{ pager | safe }}
{% endblock %}
