{% extends "./default.njk" %}
{% from 'button/macro.njk' import button %}
{% from 'contents-list/macro.njk' import contentsList %}

{% block content %}
    {{ contentsList({
        items: content_list
    }) }}
    {{ super() }}

{% endblock %}