---
layout: listing
title: Implementation
sections:
  - heading: NHS 111 online Walkthrough
    content: <p>A short video guide to the 111 online product.</p>
    youtube_id: j14tIUMhh9M
  - heading: Personal Demographics Service (PDS) Matching Demonstration
    content: |
              <p>A short video demonstrating how the 111 online product integrates with PDS to find patients.</p>
              <p>note: This functionality went live on 28 June 2018.</p>
    youtube_id: JWbL-v_TLZo
  - heading: Regional Communications Ideas
    content: <p>Guidance on how to advertise 111 online locally:</p>
    resource:
      image: /images/111online_regional_communication_ideas.png
      link:
        text: Download regional communications ideas
        href: /files/111OL_local_advertising_options.pdf

  - heading: "Local advertising: Provider out of service guidance"
    content: <p>Guidance on how to manage planned and unplanned service downtime</p>
    resource: 
      link:
        text: View downtime guidance
        href: /implementation/provider-out-of-service-downtime-guidance

---
