---
layout: paginated-listing
title: 111 online Show and tells
sections:
  - youtube_id: koUiYzuLKiM
    heading: 13th May 2025
    content: 
      - 'Worsening Advice Changes: Release 4'
      - Data - Archive DB configuration and integration
      - Implementation - 111 online Terms of Use Doc
      - Implementation - Dx98 and Sexual Health Profiling
      - Infrastructure - Update on AKS Migration
  - youtube_id: K_xOkB2b1VY
    heading: 29th April 2025
    content: 
      - 'Worsening advice changes: Release 2'
      - Pathways release v46
      - Breast cancer clinic campaign mini flow
      - Implementation - Use of website attribute
  - youtube_id: mt3t0i3UVLM
    heading: 15th April 2025
    content: 
      - Breast Diagnostics
      - Breast Diagnostics Referral Outcome Updates
      - Infrastructure Update
      - Data – 2025 KPI review
  - youtube_id: xomU4_gO5uQ
    heading: 1st April 2025
    content: 
      - Distance-selling pharmacies (DSPs) offered for minor illnesses and common conditions
      - Care plans UR & personas
      - Data - Issue with onward referrals - Dx02, Dx03, Dx89
      - Implementation - ITK failures & monitoring certificates
  - youtube_id: 9l5JSxSUYoc
    heading: 18th March 2025
    content: 
      - Data update on new EP questions
      - Data gap issue fix and its impact
  - youtube_id: si8OCCpeDEU
    heading: 4th March 2025
    content: 
      - Worsening advice changes Release 1
      - Preventing feedback spam
      - Dental changes
      - DSP user research insights update
      - Update on new EP questions
      - Data Team User Interaction Feedback
  - youtube_id: QGiyGUR-dS0
    heading: 18th February 2025
    content: 
      - Change in uptake rates since ETC migration
      - DSPs and Pharmacy First
      - UTC booking
  - youtube_id: 0HflWX_moKw
    heading: 4th February 2025
    content: 
      - Breast clinic referrals
  - youtube_id: UlONYgY4sLo
    heading: 21st January 2025
    content: 
      - Team Robin workstreams update
      - Dental Outcome Improvements
  - youtube_id: ix4dAldOHlE
    heading: 7th January 2025
    content: 
      - Emergency prescription build walkthrough​
      - First look at new EP questions
      - December Activity
      - Services Presented report
  - youtube_id: f-LHL8MMODg
    heading: 10th December 2024
    content: 
      - Emergency Prescription
      - Emergency Treatment Outcome Migration
      - Data Linkage
      - 2024 Yearly Recap                 
  - youtube_id: bn3Y2O-inOc
    heading: 26th November 2024
    content: 
      - Breast diagnostics UR insights & journey flow
      - Akamai changes to reduce spam
  - youtube_id: n1yMB1wvF-c
    heading: 12th November 2024
    content: 
      - Under 25s discovery UR
      - DSP go live
      - Tech approach for breast diagnostic additional questions
      - Data Team - Drop in 999 reduction
  - youtube_id: kx3rwYQukmQ
    heading: 29th October 2024
    content: 
      - 'Breast Diagnostic Clinic: round 3 User Research'
      - ​Design review of 111 online outcome page patterns
      - ​Update on the Data Portal Issue
      - ​Update on KPIs
  - youtube_id: EXzxQEFZs4k
    heading: 15th October 2024
    content: 
      - ​Product roadmap update
      - ​DoS Profile Checker
      - ​Making it easier to design in code
      - ​Distance selling pharmacy readiness
      - ​Data Team - National Completion Rate Update
  - youtube_id: kfFvVb6Mvgo
    heading: 1st October 2024
    content: 
      - ​Emergency Prescription outcome migration​
      - Update on Closed Pharmacies
      - Completion stats update
      - Mental Health profiling update
  - youtube_id: QW0t5iSy2ko
    heading: 17th September 2024
    content: 
      - ​Technical – IPv6 review​
      - Exit survey - reminders
      - Team Changes
  - youtube_id: 3GOzgp3pJIg
    heading: 3rd September 2024
    content: 
      - Distance Selling Pharmacies UR/ Design
      - Pathways Release 44
      - Porting personal details to nhsuk-frontend
      - Data Team - Statistical Process Control (SPC)
  - youtube_id: QQ2AJCfbaAE
    heading: 20th August 2024
    content: 
      - Onward GP Journey, designs for discovery
      - Impact of sticky survey banner design on survey take-up rates
  - youtube_id: y64Mn21xccg
    heading: 6th August 2024
    content: 
      - Callback service closure (primary care)
      - Certificate incident
      - Porting location page to nhsuk-frontend
      - Data Team - NHS App Usage
      - Data Team - Publication update
      - 'Distance Selling Pharmacies:​ stakeholder engagement research'
      - Implementation Team - Mental Health service profling
  - youtube_id: pUQg81FQbhg
    heading: 23rd July 2024
    content: 
      - Care advice titles
      - Frontend changes
      - Infrastructure update
  - youtube_id: KzaoujMbXIg
    heading: 9th July 2024
    content:
      - BaRS v1.0.1
      - Application state management
      - Displaying closed pharmacies
      - Graphic design for accessibility
      - Update on KPI trends
  - youtube_id: rnZdherlnK0
    heading: 25th June 2024
    content:
      - Pathways release 43
      - Porting personal details to nhsuk-frontend
      - Data team update
  - youtube_id: Ychg4cmKCg0
    heading: 28th May 2024
    content:
      - Mental health updates
      - Data team
      - Implementation team
  - youtube_id: s0chMfWKKJg
    heading: 14th May 2024
    content:
      - Mental health page redesign
      - COVID outcomes to primary care
      - Categories / search feedback
      - Accessibility improvements
      - Pathways release 42
      - Logging in to 111 online
      - Data team update
  - youtube_id: pyOG-5PBR7Q
    heading: 30th April 2024
    content:
      - Accessibility report
      - Frontend roundup
      - Mental health release 3
      - G2 certificates
  - youtube_id: xFBG9v6z05E
    heading: 16th April 2024
    content:
      - Mental health User Research
      - Mental health release 2
      - Categories feedback mechanism
      - Implementation team update
  - youtube_id: 78PaXpUSqic
    heading: 19th March 2024
    content:
      - Tick bite media
      - Data team update
      - Mental Health release 2 update (PT8)
      - Profile checker introduction
  - youtube_id: 6f87Ivb-tZ8
    heading: 5th March 2024
    content:
      - Loading spinner accessibility
      - Frontend roundup
      - Service busy alerting
      - Breast diagnostic clinical referral research
      - Data team update
  - youtube_id: WXunvLHo9x8
    heading: 6th February 2024
    content:
      - Pharmacy First
      - Pathways release 41
      - Rationale twizzlers
      - Release 2 of redesigned GP outcome pages
      - Survey results pre and post primary care release 1
      - Data team update
  - youtube_id: kgv2hySRYzs
    heading: 23rd January 2024
    content:
      - Continuing NHS.UK frontend migration
      - Website signposting link checking
      - Updated booking journey
      - Infra update
      - Booking flows after EDDI is toast
      - Implementation team update
  - youtube_id: 89asoyxdiI4
    heading: 9th January 2024
    content:
      - AKS fixed test environments
      - Data update
      - Logged in experience discovery
  - youtube_id: dVOYwVd8ytk
    heading: 12th December 2023
    content:
      - Sexual health and contraception popup UR
      - Site resilience and disaster recovery
      - Removing Covid guided entry
      - Button accessibility fix
      - Browserstack tests
      - Patient search update
      - Pathways release 40
      - Data team update
      - New mental health journeys
      - 2023 in review
  - youtube_id: cAdKn7LkXNw
    heading: 28th November 2023
    content:
      - Linking to online services
      - Contraception and sexual health UR
      - Prototyping
      - Patient matching
      - Custom PMS Pathway
      - Data team update
      - Implementation team update - PT8
  - youtube_id: NyPQt0HfGR4
    heading: 14th November 2023
    content:
      - Mental health triage with custom advice links
      - Implementation updates
  - youtube_id: AGmAeoizwzA
    heading: 17th October 2023
    content:
      - Improve service auditing
      - Getting winter ready
  - youtube_id: kqoXDBWxaV8
    heading: 3rd October 2023
    content:
      - Mobile first, NHS App integration
      - Analysis of NHS App user surveys
      - Redesign of GP outcomes
      - Service display
      - Categories data analysis
  - youtube_id: zRqgp-PqhQA
    heading: 19th September 2023
    content:
      - New user testing
      - Pathways release 39
      - Custom feedback advice for trigger words
      - Mental health user research
      - 7 days illness / injury
  - youtube_id: d1gK-OmCfH4
    heading: 25th July 2023
    content: 
      - Sick and vomit changes
      - Exploring the value of restricted services
      - Adding more photos of skin conditions
      - Implementation - DoS services returned distance
      - Implementation - TPP bookings
  - youtube_id: Z-x2_8eZcuU
    heading: 11th July 2023
    content:
      - Mental health journey improvements
      - Pathways release 37
      - Categories first iterations
      - Road distance user impact
      - Data team update
      - CPCS minor illness report
  - youtube_id: ZZUb2CVuBcU
    heading: 27th June 2023
    content:
      - NHS Login authenticated user journey
      - Summary of UR participant demographics
      - Data portal user guidance
  - youtube_id: 0Ij_UBxFrFo
    heading: 13th June 2023
    content:
      - 111 IVR redesign
      - NHS App traffic
      - Data portal updates
  - youtube_id: x_8Ez8r74As
    heading: 30th May 2023
    content:
      - Care advice from NHS.UK
      - Data portal updates
  - youtube_id: P7hBaTsRC2o
    heading: 16th May 2023
    content:
      - Mobile first initiative
      - AKS progress update
      - Data team update
      - Implementation team update
  - youtube_id: 6HoKysihGpo
    heading: 2nd May 2023
    content:
      - Pathways release 35 and 36
      - PDS API implementation
      - Under 5s discovery
  - youtube_id: 4bLoICAWc9Y
    heading: 18th April 2023
    content: 
      - Adding clarity to the categories / search pages
      - Infrastructure cost reduction
      - March KPIs
      - Under 5s Emergency Prescription data
      - Data publication
  - youtube_id: M2kWdhwB2J0
    heading: 21st March 2023
    content:
      - Placefinder improvements
      - Emergency prescriptions for under 5s
      - Improving the self-care disposition
      - Improving questions about analgesia for dental pain
  - youtube_id: AhciEWhKZoE
    heading: 7th March 2023
    content:
      - February 2023 stats
  - youtube_id: 1Xu_tcs5v70
    heading: 21st February 2023
    content:
      - 999 outcomes - iterating on the designs
      - 999 outcomes - splitting up codebase and moving to microsite
      - Implementation - testing prerequisites
      - Data - Updates to the menopause pathway
  - youtube_id: LoJ1coY2W8U
    heading: 7th February 2023
    content:
      - Sudden confusion triage
      - Dental analgesia triage
      - Blood pressure journey
      - Data - Volumes and metrics
  - youtube_id: aZ_Hq220Ymk
    heading: 24th January 2023
    content:
      - Automated accessibility checks
      - BaRS Live Beta
  - youtube_id: lVhbxoUAagY
    heading: 10th January 2023
    content:
      - Improving the health check
      - Media for meningitis
      - Winter usage trends
  - youtube_id: 0Y88m2bgAks
    heading: 29th November 2022
    content:
      - Time to get funky
      - Separating the proxy
      - Browser compatibility
      - Blood pressure nhs.uk link
      - Homepage ‘how 111 online works’ content tweak
      - Emergency Prescription service for under 5s on 111 online
      - Urgent treatment centres user research
      - Implementation Update
  - youtube_id: rQ1qgkLlLlg
    heading: 15th November 2022
    content:
      - Improve menopause journey
      - Categories design iterations
      - Emergency prescription call back improvements
      - New 111 online start page
      - Implementation - Pre Winter 111 Communications campaign review
  - youtube_id: T97qnug2VVU
    heading: 1st November 2022
    content:
      - Loading spinners accessibility
      - Other accessibility improvements
  - youtube_id: FGxJV8Qzipc
    heading: 18th October 2022
    content:
      - Improving menopause journey
      - Images for shin and flank
      - Finding the right pathway
      - Online chat notifications
      - CPCS minor injuries report
  - youtube_id: ufuMsA59r4c
    heading: 4th October 2022
    content:
      - Pathways release 33
  - youtube_id: 8funzi0kUtQ
    heading: 20th September 2022
    content:
      - Blood pressure pathway updates
      - Notifying providers of chat requests
      - Improve location "error" pages
      - Revisiting guided entry and homepage design
  - youtube_id: Sl9NxESz_eo
    heading: 9th August 2022
    content:
      - CPCS update
      - Sex at birth design and research
      - Pathways release 32
      - Bug fix roundup
      - Content amends
      - Implementation - approved lists review
  - youtube_id: GxnI2z-Dwoo
    heading: 12th July 2022
    content:
      - Review and Test DoS service returns
      - Porting homepage and module zero page to nhsuk-frontend
  - youtube_id: 54DiFn4q4rs
    heading: 14th June 2022
    content:
      - Fixing geolocation issues
      - Updating the home postcode question
      - Add blood oxygen level worries pathway
      - Systemic shock triage
      - Digital uptake study
      - Care connect booking
  - youtube_id: BmCTEu4v6Ew
    heading: 31st May 2022
    content:
      - Referral confirmation times iteration
      - CPCS update
      - Data portal updates
      - KPIs
  - youtube_id: VfwneWUgvBs
    heading: 17th May 2022
    content:
      - Living with Covid
      - Removing opening times for callback services
      - Disposition microsites
  - youtube_id: WsYEgO94IxQ
    heading: 5th April 2022
    content:
      - Sex at birth discovery research
      - Refactoring click event tracking
      - Accessibility updates
      - Pathways release 30
      - Current location fixes
      - Migration of HSCN connected VNETs
      - Data team update - online sessions and digital uptake rate
      - Implementation team update
  - youtube_id: jkPMF0_uLvQ
    heading: 8th March 2022
    content:
      - Reducing COVID-19 mitigation measures. Changing our content based on the new government guidance 
      - Webchat user research. Understanding  users’ preferences for phone calls V webchat and their expectations of how webchat would work 
      - Akamai Adaptive Security Engine upgrade
      - MS Cloud Defender update
      - MESH (message exchange for social care and health) transfers iteration
  - youtube_id: OXiLX3bjI1M
    heading: 22nd February 2022
    content:
      - User insight analysis redesign
      - Implementation - Validation update
      - Implementation - DoS services returned report
  - youtube_id: 4iev8plggfk
    heading: 8th February 2022
    content:
      - Chest pain user research
      - Where's my callback (design)
      - Where's my callback (user research)
      - Emergency prescription redesign
      - Implementation - new go-lives
      - Data - KPI update
      - Data - DOS report walkthrough
  - youtube_id: HvcCBx4DCuU
    heading: 25th January 2022
    content:
      - Covid-19 treatment. Our design offerings for the antibody and antiviral treatments.
      - Data portal refresh. How we iterated and improved the portal.
      - Finding the right topic. The first steps to improving how users find the right pathway.
      - Pathways ETL (extract transform load process) updates. Improving how we import pathways days into the 111 online backend.
      - Implementation - Testing callback services 
      - Implementation - DoS profiling guidance. A reference guide for DoS teams.
  - youtube_id: nNd8OF0v-9M
    heading: 11th January 2022
    content:
      - Where's my callback. Iteration of the content following UR.
      - Media in 111 online. Clinical approval and go live.
      - Mod 0 redesign. Miro walkthrough.
      - Data - December KPIs and Xmas period trends
      - Implementation - raising issues
      - Implementation - 111 online DoS returns
  - youtube_id: ec3PfZiW8p8
    heading: 14th December 2021
    content:
      - Webchat prototype
      - Webchat research
      - Clinical callback review
      - Pathways release 29
  - youtube_id: 56FnWX1bKpk
    heading: 30th November 2021
    content:
      - CPSC (Community Pharmacy Consultation Service)
      - Changes to page titles
      - Updates to on page feedback
      - Search engine indexing
      - Recognising specified closing times (bug)
  - youtube_id: 5gtc6byvbVg
    heading: 21st November 2021
    content:
      - DoS service review. Identifying and improving DoS returns
      - Trumping dispositions. Overriding the returned service out of hours to improve the user journey
      - Where's my callback? Design work to show how we propose to inform users of the progress of their callback.
      - nhsuk front end transition. Follow up to the previous demos on this now that the change is live.
      - Secret management. Migrating our secrets to Azure Key Vault.
  - youtube_id: ULsWxqWU2Ek
    heading: 2nd November 2021
    content:
      - Guided entry updates
      - Service user research
      - Making ITK error reasons easier to access
      - UPRN address data for ITK referrals
      - "Data: Abdomen pain pathway insights"
  - youtube_id: sWg6PBWQv5o
    heading: 19th October 2021
    content:
      - ITK de-duplication improvements
      - Pathways v28
      - Improved on page feedback
      - New exit survey
      - "Data: September KPIs"
  - youtube_id: eemFGc2VLyA
    heading: 5th October 2021
    content:
      - Dental outcome screen updates
      - nhsuk-frontend transition
  - youtube_id: LMRIz7xZe08
    heading: 21st September 2021
    content:
      - Media accessibility
  - youtube_id: feXnvHoaJ_0
    heading: 7th September 2021
    content:
      - Guided entry
      - "Booking confirmations: SMS & Email"
      - Adding media (images & videos) to 111 online
      - "Data: ITK report"
      - "Data: Device and browser usage"
      - "Data: KPI trends"
  - youtube_id: D2nsRkeMif4
    heading: 10th August 2021
    content:
      - 111 is busy
      - V27 release
  - youtube_id: L3UitqKZgpY
    heading: 27th July 2021
    content:
      - Media and guided entry UR
      - Move booking button
      - Updated COVID messaging
      - Dx92 bug
      - Data team - search analysis
  - youtube_id: mNejOJP8pUE
    heading: 13th July 2021
    content:
      - Reverse Proxy
      - Optician outcome screen
  - youtube_id: sGHmlzZgzpA
    heading: 29th June 2021
    content:
      - Self hosted agents
      - Focus on user satisfaction
      - ITK appointment booking referral detail
      - Data team update
      - Rebuilt disposition report
  - youtube_id: k89HwwKH1c0
    heading: 15th June 2021
    content:
      - ED Booking for UTCs
      - Data team update
      - May KPI
      - Updated data extract report
      - TLS 1.2 with SQL
      - Firewall rule audit
      - Azure PIM (Privileged Identity Management)
  - youtube_id: 33b0l1JjnNM
    heading: 1st June 2021
    content:
      - Streaming under 16s
      - Guided entry for dental problems
      - Guided entry for dental pathway
      - Meningitis media demo
      - Midwifery pages
      - CCG and postcode updates
      - Data team update
  - youtube_id: EFkSYkcD9ac
    heading: 18th May 2021
    content:
      - Implementation team update
      - Infrastructure drift detection
      - ITK failure screens
      - Date of birth validation
      - Data team update
      - 111 online digital uptake rate
  - youtube_id: T4ceK_YfaH8
    heading: 4th May 2021
    content:
      - EDS ITK & go
      - Pathways release v25
      - Serverside form validation
      - Data team update
      - Guided entry - changes in user behaviour
      - Automating Akamai
  - youtube_id: 4Q9l5pJZERQ
    heading: 20th April 2021
    content:
      - AZ vaccine side effects
      - Splitting up age / sex page
      - ED booking for Dx92
      - ESB Improvements
  - youtube_id: D7PzXo-Qc-s
    heading: 23rd March 2021
    content:
      - Guided entry build
      - Guided entry user research
      - Pulse oximetry user research
      - Vaccination side effects
      - 111 online roadmap
  - youtube_id: _eEXvFjnTec
    heading: 9th March 2021
    content:
      - ED streaming user research
      - On-page feedback
      - Mental health additional help
      - Data 
      - ED booking report
  - youtube_id: 9qux817WyI4
    heading: 111 user forum - 22nd February 2021 (Afternoon)
    content:
      - Data and reporting
      - Booking an arrival time - user research insights
  - youtube_id: iQcKOfmqIxQ
    heading: 111 user forum - 22nd February 2021 (Morning)
    content:
      - 111 online product updates
      - 111 online roadmapping workshop
  - youtube_id: YEoMqRUrFRI
    heading: 9th February 2021
    content:
      - Guided entry
      - New resources microsite
      - Enabling booking for Dx94
      - A&E Microsurvey results
      - Mental Health crisis A&E outcome user research
  - youtube_id: 48lQCR2vnEY
    heading: 26th January 2021
    content:
      - Data - build ED-booking report
      - Data - Work with pathways teams on transferring EDS data into IDT
      - Implementation - Table and map of ED validation
      - Implementation - ED booking site numbers
  - youtube_id: wRGzExsaA-s
    heading: 12th January 2021
    content:
      - Show and tells added to implementation microsite
      - Asking about sex at birth
      - Pulse Oximetry
      - Mental health crisis outcomes
      - GP dispositions research
  - youtube_id: _6EhGS8lfhw
    heading: 15th December 2020
    content:
      - Dynamic bookings
      - 111 online resources site
      - ED validation screen update
      - ED streamer
      - ED streamer infrastructure
  - youtube_id: qGXEdqI8Fyk
    heading: 1st December 2020
    content:
      - ED booking page integration
  - youtube_id: JaAOfJv-BKU
    heading: 17th November 2020
    content:
      - Pathways updates
      - EDS product
  - youtube_id: tSKB5k3_Fqc
    heading: 3rd November 2020
    content:
      - ED booking user research wrap-up
      - Micro-survey results
  - youtube_id: u80HHAqD3_I
    heading: 20th October 2020
    content:
      - Dx92 sexual assault
      - ED booking, round 3 user research
  - youtube_id: U5VvQbk0F4I
    heading: 6th October 2020
    content:
      - ED booking unhappy paths and error pages
      - Show and tell retrospective
  - youtube_id: 6RTiyQW1dyY
    heading: 22nd September 2020
    content:
      - Microsurvey on service display pages
      - Booking into ED round 3 user research
  - youtube_id: 9uI5XOgrmLI
    heading: 8th September 2020
    content:
      - Working on data portal report
      - Re-architecture of data warehouse
      - Calculate monthly KPI
  - youtube_id: Bmnn7MTJgKw
    heading: 25th August 2020
    content:
      - ED disposition service display
      - Infrastructure update
  - youtube_id: 2-8ij2SSCuc
    heading: 11th August 2020
    content:
      - Supporting information content
      - Booking into A&E, round 1 user research findings
  - youtube_id: _jR3kKCgRVY
    heading: 28th July 2020
    content:
      - ED booking prototype
pagination:
  data: sections
  reverse: false
  size: 5
---
