---
layout: paginated-listing
title: 111 online Show and tells
sections:
  - youtube_id: aZ_Hq220Ymk
    heading: 24th January 2023
    content:
      - Automated accessibility checks
      - BaRS Live Beta
  - youtube_id: lVhbxoUAagY
    heading: 10th January 2023
    content:
      - Improving the health check
      - Media for meningitis
      - Winter usage trends
  - youtube_id: 0Y88m2bgAks
    heading: 29th November 2022
    content:
      - Time to get funky
      - Separating the proxy
      - Browser compatibility
      - Blood pressure nhs.uk link
      - Homepage ‘how 111 online works’ content tweak
      - Emergency Prescription service for under 5s on 111 online
      - Urgent treatment centres user research
      - Implementation Update
  - youtube_id: rQ1qgkLlLlg
    heading: 15th November 2022
    content:
      - Improve menopause journey
      - Categories design iterations
      - Emergency prescription call back improvements
      - New 111 online start page
      - Implementation - Pre Winter 111 Communications campaign review
  - youtube_id: T97qnug2VVU
    heading: 1st November 2022
    content:
      - Loading spinners accessibility
      - Other accessibility improvements
  - youtube_id: FGxJV8Qzipc
    heading: 18th October 2022
    content:
      - Improving menopause journey
      - Images for shin and flank
      - Finding the right pathway
      - Online chat notifications
      - CPCS minor injuries report
  - youtube_id: ufuMsA59r4c
    heading: 4th October 2022
    content:
      - Pathways release 33
  - youtube_id: 8funzi0kUtQ
    heading: 20th September 2022
    content:
      - Blood pressure pathway updates
      - Notifying providers of chat requests
      - Improve location "error" pages
      - Revisiting guided entry and homepage design
  - youtube_id: Sl9NxESz_eo
    heading: 9th August 2022
    content:
      - CPCS update
      - Sex at birth design and research
      - Pathways release 32
      - Bug fix roundup
      - Content amends
      - Implementation - approved lists review
  - youtube_id: GxnI2z-Dwoo
    heading: 12th July 2022
    content:
      - Review and Test DoS service returns
      - Porting homepage and module zero page to nhsuk-frontend
  - youtube_id: 54DiFn4q4rs
    heading: 14th June 2022
    content:
      - Fixing geolocation issues
      - Updating the home postcode question
      - Add blood oxygen level worries pathway
      - Systemic shock triage
      - Digital uptake study
      - Care connect booking
  - youtube_id: BmCTEu4v6Ew
    heading: 31st May 2022
    content:
      - Referral confirmation times iteration
      - CPCS update
      - Data portal updates
      - KPIs
  - youtube_id: VfwneWUgvBs
    heading: 17th May 2022
    content:
      - Living with Covid
      - Removing opening times for callback services
      - Disposition microsites
  - youtube_id: WsYEgO94IxQ
    heading: 5th April 2022
    content:
      - Sex at birth discovery research
      - Refactoring click event tracking
      - Accessibility updates
      - Pathways release 30
      - Current location fixes
      - Migration of HSCN connected VNETs
      - Data team update - online sessions and digital uptake rate
      - Implementation team update
  - youtube_id: jkPMF0_uLvQ
    heading: 8th March 2022
    content:
      - Reducing COVID-19 mitigation measures. Changing our content based on the new government guidance 
      - Webchat user research. Understanding  users’ preferences for phone calls V webchat and their expectations of how webchat would work 
      - Akamai Adaptive Security Engine upgrade
      - MS Cloud Defender update
      - MESH (message exchange for social care and health) transfers iteration
  - youtube_id: OXiLX3bjI1M
    heading: 22nd February 2022
    content:
      - User insight analysis redesign
      - Implementation - Validation update
      - Implementation - DoS services returned report
  - youtube_id: 4iev8plggfk
    heading: 8th February 2022
    content:
      - Chest pain user research
      - Where's my callback (design)
      - Where's my callback (user research)
      - Emergency prescription redesign
      - Implementation - new go-lives
      - Data - KPI update
      - Data - DOS report walkthrough
  - youtube_id: HvcCBx4DCuU
    heading: 25th January 2022
    content:
      - Covid-19 treatment. Our design offerings for the antibody and antiviral treatments.
      - Data portal refresh. How we iterated and improved the portal.
      - Finding the right topic. The first steps to improving how users find the right pathway.
      - Pathways ETL (extract transform load process) updates. Improving how we import pathways days into the 111 online backend.
      - Implementation - Testing callback services 
      - Implementation - DoS profiling guidance. A reference guide for DoS teams.
  - youtube_id: nNd8OF0v-9M
    heading: 11th January 2022
    content:
      - Where's my callback. Iteration of the content following UR.
      - Media in 111 online. Clinical approval and go live.
      - Mod 0 redesign. Miro walkthrough.
      - Data - December KPIs and Xmas period trends
      - Implementation - raising issues
      - Implementation - 111 online DoS returns
  - youtube_id: ec3PfZiW8p8
    heading: 14th December 2021
    content:
      - Webchat prototype
      - Webchat research
      - Clinical callback review
      - Pathways release 29
  - youtube_id: 56FnWX1bKpk
    heading: 30th November 2021
    content:
      - CPSC (Community Pharmacy Consultation Service)
      - Changes to page titles
      - Updates to on page feedback
      - Search engine indexing
      - Recognising specified closing times (bug)
  - youtube_id: 5gtc6byvbVg
    heading: 21st November 2021
    content:
      - DoS service review. Identifying and improving DoS returns
      - Trumping dispositions. Overriding the returned service out of hours to improve the user journey
      - Where's my callback? Design work to show how we propose to inform users of the progress of their callback.
      - nhsuk front end transition. Follow up to the previous demos on this now that the change is live.
      - Secret management. Migrating our secrets to Azure Key Vault.
  - youtube_id: ULsWxqWU2Ek
    heading: 2nd November 2021
    content:
      - Guided entry updates
      - Service user research
      - Making ITK error reasons easier to access
      - UPRN address data for ITK referrals
      - "Data: Abdomen pain pathway insights"
  - youtube_id: sWg6PBWQv5o
    heading: 19th October 2021
    content:
      - ITK de-duplication improvements
      - Pathways v28
      - Improved on page feedback
      - New exit survey
      - "Data: September KPIs"
  - youtube_id: eemFGc2VLyA
    heading: 5th October 2021
    content:
      - Dental outcome screen updates
      - nhsuk-frontend transition
  - youtube_id: LMRIz7xZe08
    heading: 21st September 2021
    content:
      - Media accessibility
  - youtube_id: feXnvHoaJ_0
    heading: 7th September 2021
    content:
      - Guided entry
      - "Booking confirmations: SMS & Email"
      - Adding media (images & videos) to 111 online
      - "Data: ITK report"
      - "Data: Device and browser usage"
      - "Data: KPI trends"
  - youtube_id: D2nsRkeMif4
    heading: 10th August 2021
    content:
      - 111 is busy
      - V27 release
  - youtube_id: L3UitqKZgpY
    heading: 27th July 2021
    content:
      - Media and guided entry UR
      - Move booking button
      - Updated COVID messaging
      - Dx92 bug
      - Data team - search analysis
  - youtube_id: mNejOJP8pUE
    heading: 13th July 2021
    content:
      - Reverse Proxy
      - Optician outcome screen
  - youtube_id: sGHmlzZgzpA
    heading: 29th June 2021
    content:
      - Self hosted agents
      - Focus on user satisfaction
      - ITK appointment booking referral detail
      - Data team update
      - Rebuilt disposition report
  - youtube_id: k89HwwKH1c0
    heading: 15th June 2021
    content:
      - ED Booking for UTCs
      - Data team update
      - May KPI
      - Updated data extract report
      - TLS 1.2 with SQL
      - Firewall rule audit
      - Azure PIM (Privileged Identity Management)
  - youtube_id: 33b0l1JjnNM
    heading: 1st June 2021
    content:
      - Streaming under 16s
      - Guided entry for dental problems
      - Guided entry for dental pathway
      - Meningitis media demo
      - Midwifery pages
      - CCG and postcode updates
      - Data team update
  - youtube_id: EFkSYkcD9ac
    heading: 18th May 2021
    content:
      - Implementation team update
      - Infrastructure drift detection
      - ITK failure screens
      - Date of birth validation
      - Data team update
      - 111 online digital uptake rate
  - youtube_id: T4ceK_YfaH8
    heading: 4th May 2021
    content:
      - EDS ITK & go
      - Pathways release v25
      - Serverside form validation
      - Data team update
      - Guided entry - changes in user behaviour
      - Automating Akamai
  - youtube_id: 4Q9l5pJZERQ
    heading: 20th April 2021
    content:
      - AZ vaccine side effects
      - Splitting up age / sex page
      - ED booking for Dx92
      - ESB Improvements
  - youtube_id: D7PzXo-Qc-s
    heading: 23rd March 2021
    content:
      - Guided entry build
      - Guided entry user research
      - Pulse oximetry user research
      - Vaccination side effects
      - 111 online roadmap
  - youtube_id: _eEXvFjnTec
    heading: 9th March 2021
    content:
      - ED streaming user research
      - On-page feedback
      - Mental health additional help
      - Data 
      - ED booking report
  - youtube_id: 9qux817WyI4
    heading: 111 user forum - 22nd February 2021 (Afternoon)
    content:
      - Data and reporting
      - Booking an arrival time - user research insights
  - youtube_id: iQcKOfmqIxQ
    heading: 111 user forum - 22nd February 2021 (Morning)
    content:
      - 111 online product updates
      - 111 online roadmapping workshop
  - youtube_id: YEoMqRUrFRI
    heading: 9th February 2021
    content:
      - Guided entry
      - New resources microsite
      - Enabling booking for Dx94
      - A&E Microsurvey results
      - Mental Health crisis A&E outcome user research
  - youtube_id: 48lQCR2vnEY
    heading: 26th January 2021
    content:
      - Data - build ED-booking report
      - Data - Work with pathways teams on transferring EDS data into IDT
      - Implementation - Table and map of ED validation
      - Implementation - ED booking site numbers
  - youtube_id: wRGzExsaA-s
    heading: 12th January 2021
    content:
      - Show and tells added to implementation microsite
      - Asking about sex at birth
      - Pulse Oximetry
      - Mental health crisis outcomes
      - GP dispositions research
  - youtube_id: _6EhGS8lfhw
    heading: 15th December 2020
    content:
      - Dynamic bookings
      - 111 online resources site
      - ED validation screen update
      - ED streamer
      - ED streamer infrastructure
  - youtube_id: qGXEdqI8Fyk
    heading: 1st December 2020
    content:
      - ED booking page integration
  - youtube_id: JaAOfJv-BKU
    heading: 17th November 2020
    content:
      - Pathways updates
      - EDS product
  - youtube_id: tSKB5k3_Fqc
    heading: 3rd November 2020
    content:
      - ED booking user research wrap-up
      - Micro-survey results
  - youtube_id: u80HHAqD3_I
    heading: 20th October 2020
    content:
      - Dx92 sexual assault
      - ED booking, round 3 user research
  - youtube_id: U5VvQbk0F4I
    heading: 6th October 2020
    content:
      - ED booking unhappy paths and error pages
      - Show and tell retrospective
  - youtube_id: 6RTiyQW1dyY
    heading: 22nd September 2020
    content:
      - Microsurvey on service display pages
      - Booking into ED round 3 user research
  - youtube_id: 9uI5XOgrmLI
    heading: 8th September 2020
    content:
      - Working on data portal report
      - Re-architecture of data warehouse
      - Calculate monthly KPI
  - youtube_id: Bmnn7MTJgKw
    heading: 25th August 2020
    content:
      - ED disposition service display
      - Infrastructure update
  - youtube_id: 2-8ij2SSCuc
    heading: 11th August 2020
    content:
      - Supporting information content
      - Booking into A&E, round 1 user research findings
  - youtube_id: _jR3kKCgRVY
    heading: 28th July 2020
    content:
      - ED booking prototype
pagination:
  data: sections
  reverse: false
  size: 5
---
