---
layout: listing
title: Supporting documentation
sections:
  - heading: Flow diagram of a session
    version: 3
    updated: "07/03/2023"
    content: <p>This flow diagram takes you through how a user might navigate 111 online, and at what points IDs are generated. This is helpful in understanding data from the <a href="https://dataportal.111.nhs.uk">data portal,</a> the terminology used for different stages of the user experience, and the fluidity of the dataset.</p>
    resource:
     image: /images/111_online_flow_diagram.png
     link:
        text: Download Flow diagram
        href: /files/111_online_flow_diagram.pdf
  - heading: Requirements Schedule - ARCHIVED
    version: 1.9
    updated: "05/08/2022"
    content: |
      <p>The Requirements Schedule is part of, and should be read with the End User Agreement.</p>
      <p>The purpose of this document is to detail:</p>
      <ul>
        <li>how to implement and maintain the 111 online service within your service area,</li>
        <li>including operational requirements applicable to End Users and their associated service providers, being GP practices, OOH GPs, 111 telephone service providers, walk-in-centres, A&Es, dental practices and other health care providers.</li>
      </ul>
    resource:
      image: /images/Reqs_Sched_19_changes.png
      link:
        text: Download requirements schedule
        href: /files/NHS111OL_Requirements_Schedule v1_9.docx
  - heading: Pathways for 111 online
    content: <p>A spreadsheet of the pathways in 111 online.</p>
    updated: "03/12/2019"
    resource:
      image: /images/Pathways_for_111_online.png
      link:
        text: Download pathways for 111 online
        href: /files/Pathways_for_111_online_2019-12.xlsx
  - heading: Privacy Impact Assessment
    content: <p>Sample Privacy Impact Assessment from the 2017 Leeds pilot.</p>
    resource:
      image: /images/privacy_impact.png
      link:
        text: Download Privacy Impact Assessment
        href: /files/PIAPrivacyImpactAssessmentNHS111onlineMASTER_v0.6.docx
  - heading: Equality Impact Assessment Guidance
    content: <p>If end-users decide to produce an Equality Impact Assessment for 111 online, they may find some of this information helpful.</p>
    resource:
      image: /images/equality_impact_guidance.png
      link:
        text: Download equality impact assessment
        href: /files/Equality_Impact_Guidance_about_111_Online.xlsx
  - heading: Data flow diagram
    updated: "21/06/18"
    content: <p>This graphic explains what user data is captured by 111 online and when. When appropriate, users can choose to transfer their details to providers. Local services that accept referrals from 111 online may find this information helpful for updating their privacy notices.</p>
    resource:
      image: /images/Data_flow_111OL_image.png
      link:
        text: Download data flow diagram
        href: /files/data_flow_diagram.jpg
---
