---
layout: listing
title: Tools
sections:
  - heading: "111Online DOS profiling guide"
    version: 1.0
    updated: "21/01/22"
    content: |
      <p>Guide on how to set up DOS to support 111 online</p>
    resource:
      image: /images/dos_profile.png
      link:
        text: Download 111 online DOS profiling guide
        href: /files/111OL DoS Profiling Guide_V1.0.pdf
  - heading: "Provider out-of-service: planned and unplanned downtime"
    content: |
      <p>When an urgent care provider goes out of service, whether expected or not, local teams can act themselves to stop receiving referrals from NHS 111 online during the outage.</p>
      <p>These instructions explain how providers can stop receiving cases from NHS 111 online (111.nhs.uk) during a service outage.</p>
    resource:
      image: /images/provider-out-of-service.jpg
      link:
        text: Download provider out of service instructions
        href: /files/111 online processes for provider downtime v2.docx
  - heading: Service changes template
    version: 1.2
    updated: "10/11/20"
    content: |
      <p>To add new services, change providers, or retire services, please, complete this template and send it to NHS Digital to arrange connection tests.</p>
      <p>This should be submitted 28 working days before any planned changes.</p>
    resource:
      image: /images/service_change.png
      link:
        text: Download service changes template
        href: /files/Service_Change_Template_v1.2.xlsx
  - heading: DoS direct linking tool
    content: <p>This tool provides an easy mechanism to return and test the results for all disposition on the 111 online product.</p>
    version: 11
    updated: "10/03/22"
    resource:
      image: /images/DoS_DLT_3_0.png
      link:
        text: Download DoS direct linking tool
        href: /files/DoS_Direct_linking_tool_v12_Pathways v30.2.0_10.03.2022.xlsx
  - heading: ITK testing plan
    content: <p>When implementing in a new area, every service that receives cases from NHS 111 online by ITK messages needs to be tested with each DX code they are profiled for on DoS.</p>
    version: 1.2
    updated: "01/02/19"
    resource:
      image: /images/itk_testing_plan.png
      link:
        text: Download ITK testing plan
        href: /files/ITK_Testing_Plan_for_Phase_2_and_3_v1.2.docx
  - heading: Troubleshooting for DoS leads
    content: <p>Flowcharts to help DoS leads identify problems with DoS services not returning as expected online</p>
    resource:
      image: /images/dos_troubleshooter.png
      link:
        text: Download troubleshooting for DoS leads
        href: /files/Troubleshooting_for_DoS_Leads_v4.2.pptx
  - heading: Data portal
    content: <p>111 online data portal</p>
    resource:
      image: /images/data-portal.jpg
      link:
        text: Visit the 111 online data portal
        href: https://dataportal.111.nhs.uk/
  - heading: 111 online outcome estimator
    version: "3.0"
    updated: "28/05/2020"
    content: |
              <p>Use this spreadsheet to estimate the potential distribution of 111 online dispositions and volumes of 111 online cases sent (by ITK) to clinical services in your area, including low-acuity ambulance and ED cases eligible for validation by a clinician.</p>
              <p>Outcome distributions in version 3.0 is based on activity in January and February 2020. Uptake levels have also been updated to reflect growing use of the online channel.</p>
    resource:
      image: /images/Outcome_estimator_3.png
      link:
        href: /files/111_Online_Outcome_Estimator_v3.0.xlsx
        text: Download 111 online outcome estimator
---
