---
layout: listing
title: Tools
sections:
  - heading: "111Online DOS profiling guide"
    version: 1.3
    updated: "03/11/2022"
    content: |
      <p>Guide on how to set up DOS to support 111 online</p>
    resource:
      image: /images/111 Online DoS profiling guide.png     
      link:
        text: Download 111 online DOS profiling guide
        href: /files/111OL DoS Profiling Guide_V1.3.pdf
  - heading: "111 online ITK_Testing_Guide"
    version: 1.1
    updated: "02/02/2023"
    content: |
      <p>111 online ITK Testing Prerequisites</p>
    resource:
      image: /images/NHS 111 online ITK Testing Prerequisites.png     
      link:
        text: Download 111 online ITK Testing Prerequisites guide
        href: /files/ITK_Testing_Guide_v1.1.docx
  - heading: Service changes template
    version: 1.5
    updated: "07/02/23"
    content: |
      <p>To add new services, change providers, or retire services, please, complete this template and send it to NHS Digital to arrange connection tests.</p>
      <p>This should be submitted 28 working days before any planned changes.</p>
    resource:
      image: /images/service_change.png
      link:
        text: Download service changes template
        href: /files/Service_Change_Template_v1.5.xlsx
  - heading: DoS direct linking tool
    content: <p>This tool provides an easy mechanism to return and test the results for all disposition on the 111 online product.</p>
    version: 22
    updated: "20/06/23"
    resource:
      image: /images/DoS_DLT_3_0.png
      link:
        text: Download DoS direct linking tool
        href: /files/DoS_Direct_linking_tool_v22_Pathways v37.2.0_20.06.2023.xlsx
  - heading: DoS Direct Linking Tool - A users guide V1.0
    content: <p>This document aims to serve as a reference guide to stand alongside the DoS Direct Linking Tool (DDLT). It aims to provide further context and instructions for use of the tool in an easy-to-read format.</p>
    version: 1
    updated: "09/05/23"
    resource:
      image: /images/ddlt_guide.jpg
      link:
        text: Download the DDLT users guide
        href: /files/DoS Direct Linking Tool - A users guide V1.0.pdf
  - heading: Troubleshooting for DoS leads
    version: 5.1
    updated: "03/11/2022"
    content: <p>Flowcharts to help DoS leads identify problems with DoS services not returning as expected online</p>
    resource:
      image: /images/dos_troubleshooter.png
      link:
        text: Download troubleshooting for DoS leads
        href: /files/Troubleshooting_for_DoS_Leads_v5.1.pdf
  - heading: Data portal
    content: <p>111 online data portal</p>
    resource:
      image: /images/data-portal.jpg
      link:
        text: Visit the 111 online data portal
        href: https://dataportal.111.nhs.uk/
  - heading: 111 online outcome estimator
    version: "3.0"
    updated: "28/05/2020"
    content: |
              <p>Use this spreadsheet to estimate the potential distribution of 111 online dispositions and volumes of 111 online cases sent (by ITK) to clinical services in your area, including low-acuity ambulance and ED cases eligible for validation by a clinician.</p>
              <p>Outcome distributions in version 3.0 is based on activity in January and February 2020. Uptake levels have also been updated to reflect growing use of the online channel.</p>
    resource:
      image: /images/Outcome_estimator_3.png
      link:
        href: /files/111_Online_Outcome_Estimator_v3.0.xlsx
        text: Download 111 online outcome estimator
---
