---
layout: listing
title: Communications
sections:
  - heading: "Local advertising: Regional communications ideas"
    content: "<p>A slidedeck with free or low-cost actions local areas can take to promote 111 online: in-que messages, posters, answerphone messages, and more</p>"
    resource:
      image: /images/Advertising_thumbnail.png
      link:
        text: Download regional communication ideas
        href: /files/111OL_local_advertising_options.pdf
---
