---
layout: listing
title: Communications
sections:
  - heading: "Local advertising: Regional communications ideas"
    content: "<p>A slidedeck with free or low-cost actions local areas can take to promote 111 online: in-que messages, posters, answerphone messages, and more</p>"
    resource:
      image: /images/Advertising_thumbnail.png
      link:
        text: Download regional communication ideas
        href: /files/111OL_local_advertising_options.pdf

  - heading: "Local advertising: GP answerphone message"
    content: <p>A .wav file for uploading to GP answerphone systems. Callers are advised to ring 111 or visit 111.nhs.uk if they need urgent medical help.</p>
    resource:
      link:
        text: Download GP answerphone message
        href: /files/NHSE_111_campaign_channel_shift_closed.wav

  - heading: "Local advertising: GP answerphone message without opening hours"
    content: <p>A .wav file that can be uploaded to GP answerphone systems. This one does not mention 'core opening hours'; it only explains that callers should ring 111 or visit 111.nhs.uk if they need urgent medical help.</p>
    resource:
      link:
        text: Download GP answerphone message without opening hours
        href: /files/NHSE_111_campaign_channel_shift_help.wav
---
