---
layout: listing
title: Governance
sections:
  - heading: Requirements Schedule
    version: 1.7
    updated: "03/12/2019"
    content: |
      <p>The Requirements Schedule is part of, and should be read with the End User Agreement.</p>
      <p>The purpose of this document is to detail:</p>
      <ul>
        <li>how to implement and maintain the 111 online service within your service area,</li>
        <li>including operational requirements applicable to End Users and their associated service providers, being GP practices, OOH GPs, 111 telephone service providers, walk-in-centres, A&Es, dental practices and other health care providers.</li>
      </ul>
    resource:
      image: /images/Reqs_Sched_17.jpg
      link:
        text: Download requirements schedule
        href: /files/NHS111OL_Requirements_Schedule_v1_7_2019-12.docx
  - heading: Overview of Changes in Requirements Schedule v1.7
    content: <p>A quick guide to alterations in the latest version of the schedule.</p>
    updated: "03/12/2019"
    version: 1.7
    resource:
      image: /images/Reqs_Sched_17_changes.jpg
      link:
        text: Download changes in requirements schedule
        href: /files/Changes_in_Reqs_Sched_1_7.docx
  - heading: Pathways for 111 online
    content: <p>A spreadsheet of the pathways in 111 online.</p>
    updated: "03/12/2019"
    resource:
      image: /images/Pathways_for_111_online.png
      link:
        text: Download pathways for 111 online
        href: /files/Pathways_for_111_online_2019-12.xlsx
  - heading: Privacy Impact Assessment
    content: <p>Sample Privacy Impact Assessment from the 2017 Leeds pilot.</p>
    resource:
      image: /images/privacy_impact.png
      link:
        text: Download Privacy Impact Assessment
        href: /files/PIAPrivacyImpactAssessmentNHS111onlineMASTER_v0.6.docx
  - heading: Equality Impact Assessment Guidance
    content: <p>If end-users decide to produce an Equality Impact Assessment for 111 online, they may find some of this information helpful.</p>
    resource:
      image: /images/equality_impact_guidance.png
      link:
        text: Download equality impact assessment guidance
        href: /files/Equality_Impact_Guidance_about_111_Online.xlsx
  - heading: Data flow diagram
    updated: "21/06/18"
    content: <p>This graphic explains what user data is captured by 111 online and when. When appropriate, users can choose to transfer their details to providers. Local services that accept referrals from 111 online may find this information helpful for updating their privacy notices.</p>
    resource:
      image: /images/Data_flow_111OL_image.png
      link:
        text: Download data flow diagram
        href: /files/data_flow_diagram.jpg
---