---
layout: cards
title: Home
sections:
  - 
    heading: 111 online
    href: /111online/
    description: 111 online is a fast and convenient alternative to the 111 phone service. People enter some information about themselves and their main symptom and are then asked a series of questions about their health problem. They can find out how to get the right healthcare in their area, including whether they need to see a GP or seek urgent care.
  - 
    heading: Repeat Caller Service
    href: https://digital.nhs.uk/services/repeat-caller-service
    description: The Repeat Caller Service is a national service and a core part of the Integrated Urgent Care national architecture. It acts as an audit for the NHS 111 service, monitoring users who have been processed through the service 3 times or more in a 96 hour period.
  -
    heading: Patient Encounter History
    href: /peh/
    description: Patient Encounter History is an exploratory project identifying how improving access to encounter information can lead to improved clinical outcomes, better call routing, and alerting of deteriorating conditions throughout Urgent and Emergency Care.

---
