---
title: Home
sections:
  -
    heading: Implementation
    href: /implementation
    description: A quick guide for people who have care and support needs and their carers
  -
    heading: Show and tells
    description: A quick guide for people who have care and support needs and their carers
  -
    heading: Governance
    description: A quick guide for people who have care and support needs and their carers
  -
    heading: Tools
    description: DoS, ITK, and service change documents & tools
  -
    heading: Communications
    description: Reusable templates for promoting 111 online
---

{% from 'button/macro.njk' import button %}
{% from 'card/macro.njk' import card %}

<ul class="nhsuk-grid-row nhsuk-card-group">  
  {% for section in sections %}
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">    
      {{ card({
        "href": section.href | url,
        "clickable": "true",
        "heading": section.heading,
        "headingClasses": "nhsuk-heading-m",
        "description": section.description
      }) }}
    </li>
  {% endfor %}
</ul>