---
layout: listing
title: Show and tells
sections:
  - youtube_id: _6EhGS8lfhw
    date: 15th December 2020
    contents: 
      - Dynamic bookings
      - 111 online resources site
      - ED validation screen update
      - ED streamer
      - ED streamer infrastructure
  - youtube_id: qGXEdqI8Fyk
    date: 1st December 2020
    contents:
      - ED booking page interation
  - youtube_id: JaAOfJv-BKU
    date: 17th November 2020
    contents:
      - Pathways updates
      - EDS product
  - youtube_id: tSKB5k3_Fqc
    date: 3rd November 2020
    contents:
      - ED booking user research wrap-up
      - Micro-survey results
  - youtube_id: u80HHAqD3_I
    date: 20th October 2020
    contents:
      - Dx92 sexual assault
      - ED booking, round 3 user research
  - youtube_id: U5VvQbk0F4I
    date: 6th October 2020
    contents:
      - ED booking unhappy paths and error pages
      - Show and tell retrospective
  - youtube_id: 6RTiyQW1dyY
    date: 22nd September 2020
    contents:
      - Microsurvey on service display pages
      - Booking into ED round 3 user research
  - youtube_id: 9uI5XOgrmLI
    date: 8th September 2020
    contents:
      - Working on data portal report
      - Re-architecture of data warehouse
      - Calculate monthly KPI
  - youtube_id: Bmnn7MTJgKw
    date: 25th August 2020
    contents:
      - ED disposition service display
      - Infrastructure update
  - youtube_id: 2-8ij2SSCuc
    date: 11th August 2020
    contents:
      - Supporting information content
      - Booking into A&E, round 1 user research findings
  - youtube_id: _jR3kKCgRVY
    date: 28th July 2020
    contents:
      - ED booking prototype
---