---
layout: listing
title: Tools
sections:
  - heading: Service changes template
    version: 1.2
    updated: "10/11/20"
    content: |
      <p>To add new services, change providers, or retire services, please, complete this template and send it to NHS Digital to arrange connection tests.</p>
      <p>This should be submitted 28 working days before any planned changes.</p>
    resource:
      image: /images/service_change.png
      link:
        text: Download service changes template
        href: /files/Service_Change_Template_v1.2.xlsx
  - heading: DoS direct linking tool
    content: <p>This tool provides an easy mechanism to return and test the results for all disposition on the 111 online product.</p>
    version: 7.7
    updated: "21/12/20"
    resource:
      image: /images/DoS_DLT_3_0.png
      link:
        text: Download DoS direct linking tool
        href: /files/DoS_Direct_linking_tool_v7.7_Pathways_v23.2.1_21.12.2020.xlsx
  - heading: ITK testing plan
    content: <p>When implementing in a new area, every service that receives cases from NHS 111 online by ITK messages needs to be tested with each DX code they are profiled for on DoS.</p>
    version: 1.2
    updated: "01/02/19"
    resource:
      image: /images/itk_testing_plan.png
      link:
        text: Download ITK testing plan
        href: /files/ITK_Testing_Plan_for_Phase_2_and_3_v1.2.docx
  - heading: Troubleshooting for DoS leads
    content: <p>Flowcharts to help DoS leads identify problems with DoS services not returning as expected online</p>
    resource:
      image: /images/dos_troubleshooter.png
      link:
        text: Download troubleshooting for DoS leads
        href: /files/Troubleshooting_for_DoS_Leads_v3.pptx
  - heading: Data portal
    content: <p>111 online data portal</p>
    resource:
      link:
        text: Visit the 111 online data portal
        href: https://dataportal.111.nhs.uk/
---