name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  gh-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm ci
#       - run: npm test -- --watchAll=false --passWithNoTests
      - run: npm run build
      - uses: maxheld83/ghpages@v0.3.0
        env:
          BUILD_DIR: dist
          GH_PAT: ${{secrets.GH_PAT}}
